# ì• ë‹ˆë©”ì´ì…˜ ì˜í™” ì¶”ì²œ ì‹œìŠ¤í…œ ê°œë°œ í”„ë¡œì íŠ¸

## 1. EDA

In [1]:
# ë‹¤ìŒì£¼ ê¹Œì§€ TMDBì—ì„œ APIë¡œ ë°ì´í„° ê°€ì ¸ì™€ë³´ì.

In [2]:
import pandas as pd
df = pd.read_csv("/Users/raekkkky/Desktop/DNA/[24 1í•™ê¸°] ğŸ†ìŠ¹ìŠ¹ì¥êµ¬/9ì£¼ì°¨/Animation_Movies.csv")
pd.set_option('display.max_columns', None)
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,budget,homepage,imdb_id,original_language,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages
0,150540,Inside Out,7.922,19463,Released,2015-06-09,857611174,95,False,/j29ekbcLpBvxnGk6LjdTc2EI5SA.jpg,175000000,http://movies.disney.com/inside-out,tt2096673,en,Inside Out,"Growing up can be a bumpy road, and it's no ex...",107.292,/2H1TmgdfNtsKlU9jKdeNyYL5y8T.jpg,Meet the little voices inside your head.,"Animation, Family, Adventure, Drama, Comedy","Pixar, Walt Disney Pictures",United States of America,English
1,14160,Up,7.949,18857,Released,2009-05-28,735099082,96,False,/hGGC9gKo7CFE3fW07RA587e5kol.jpg,175000000,http://disney.go.com/disneypictures/up/,tt1049413,en,Up,Carl Fredricksen spent his entire life dreamin...,90.968,/vpbaStTMt8qqXaEgnOR2EE4DNJk.jpg,The greatest adventure is just getting back home.,"Animation, Comedy, Family, Adventure",Pixar,United States of America,English
2,12,Finding Nemo,7.824,18061,Released,2003-05-30,940335536,100,False,/h3uqFk7sZRJvLZDdLiFB9qwbL07.jpg,94000000,http://movies.disney.com/finding-nemo,tt0266543,en,Finding Nemo,"Nemo, an adventurous young clownfish, is unexp...",55.456,/ggQ6o8X5984OCh3kZi2UIJQJY5y.jpg,There are 3.7 trillion fish in the ocean. They...,"Animation, Family",Pixar,United States of America,English
3,354912,Coco,8.222,17742,Released,2017-10-27,800526015,105,False,/askg3SMvhqEl4OL52YuvdtY40Yb.jpg,175000000,https://www.pixar.com/feature-films/coco,tt2380307,en,Coco,Despite his familyâ€™s baffling generations-old ...,166.578,/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg,The celebration of a lifetime,"Family, Animation, Fantasy, Music, Comedy, Adv...","Pixar, Walt Disney Pictures",United States of America,"English, Spanish"
4,10681,WALLÂ·E,8.078,17446,Released,2008-06-22,521311860,98,False,/fK5ssgvtI43z19FoWigdlqgpLRE.jpg,180000000,https://www.pixar.com/feature-films/walle/,tt0910970,en,WALLÂ·E,What if mankind had to leave Earth and somebod...,58.517,/hbhFnRzzg6ZDmm8YAmxBnQpQIPh.jpg,After 700 years of doing what he was built for...,"Animation, Family, Science Fiction","Pixar, Walt Disney Pictures",United States of America,English

In [3]:
df.shape

(51945, 23)

In [4]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages'],
      dtype='object')

In [5]:
import pandas as pd

df.columns = [
    'ì•„ì´ë””', 'ì œëª©', 'í‰ê·  íˆ¬í‘œ', 'íˆ¬í‘œ ìˆ˜', 'ìƒíƒœ', 'ê°œë´‰ì¼',
    'ìˆ˜ìµ', 'ëŸ¬ë‹íƒ€ì„', 'ì„±ì¸ ì—¬ë¶€', 'ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ', 'ì˜ˆì‚°', 'í™ˆí˜ì´ì§€',
    'IMDB ì•„ì´ë””', 'ì›ë˜ ì–¸ì–´', 'ì›ë˜ ì œëª©', 'ë¦¬ë·°',
    'ì¸ê¸°ë„', 'í¬ìŠ¤í„° ê²½ë¡œ', 'íƒœê·¸ë¼ì¸', 'ì¥ë¥´',
    'ì œì‘ íšŒì‚¬', 'ì œì‘ êµ­ê°€', 'ì‚¬ìš© ì–¸ì–´'
]
df.columns

Index(['ì•„ì´ë””', 'ì œëª©', 'í‰ê·  íˆ¬í‘œ', 'íˆ¬í‘œ ìˆ˜', 'ìƒíƒœ', 'ê°œë´‰ì¼', 'ìˆ˜ìµ', 'ëŸ¬ë‹íƒ€ì„', 'ì„±ì¸ ì—¬ë¶€',
       'ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ', 'ì˜ˆì‚°', 'í™ˆí˜ì´ì§€', 'IMDB ì•„ì´ë””', 'ì›ë˜ ì–¸ì–´', 'ì›ë˜ ì œëª©', 'ë¦¬ë·°', 'ì¸ê¸°ë„',
       'í¬ìŠ¤í„° ê²½ë¡œ', 'íƒœê·¸ë¼ì¸', 'ì¥ë¥´', 'ì œì‘ íšŒì‚¬', 'ì œì‘ êµ­ê°€', 'ì‚¬ìš© ì–¸ì–´'],
      dtype='object')

In [6]:
df.isnull().sum()

ì•„ì´ë””              0
ì œëª©               1
í‰ê·  íˆ¬í‘œ            0
íˆ¬í‘œ ìˆ˜             0
ìƒíƒœ               0
ê°œë´‰ì¼           2137
ìˆ˜ìµ               0
ëŸ¬ë‹íƒ€ì„             0
ì„±ì¸ ì—¬ë¶€            0
ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ    36110
ì˜ˆì‚°               0
í™ˆí˜ì´ì§€         43692
IMDB ì•„ì´ë””     22393
ì›ë˜ ì–¸ì–´            0
ì›ë˜ ì œëª©            1
ë¦¬ë·°            6079
ì¸ê¸°ë„              0
í¬ìŠ¤í„° ê²½ë¡œ       14011
íƒœê·¸ë¼ì¸         47267
ì¥ë¥´               0
ì œì‘ íšŒì‚¬        22547
ì œì‘ êµ­ê°€        12245
ì‚¬ìš© ì–¸ì–´        18127
dtype: int64

In [7]:
# "ì œëª©"ê³¼ "ì›ë˜_ì œëª©" ì¹¼ëŸ¼ì—ì„œ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” í–‰ ì‚­ì œ
df = df.dropna(subset=['ì œëª©', 'ì›ë˜ ì œëª©'])

# ë¶ˆí•„ìš”í•œ ì¹¼ëŸ¼ ì‚­ì œ [ê°œë´‰ì¼ì€ ì˜ í•˜ë©´ ì±„ì›Œì„œ í•  ìˆ˜ ìˆì„ ë“¯. ì•„ë‹˜ ë°ì´í„°ë¥¼ ì‚­ì œí•˜ëŠ” ë°©ë²•ë„ ê´œì°®ì„ ë“¯?, ê·¸ ì™¸ì—ë„ ë³€ìˆ˜ ì œê±° ë§ê³  ê°’ ì œê±°ë¡œ ìƒê° í•´ë³´ëŠ” ì¤‘]
df = df.drop(columns=['ìƒíƒœ', 'ê°œë´‰ì¼', 'ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ', 'í™ˆí˜ì´ì§€', 'IMDB ì•„ì´ë””', 'í¬ìŠ¤í„° ê²½ë¡œ', 'íƒœê·¸ë¼ì¸', 'ì œì‘ íšŒì‚¬', 'ì œì‘ êµ­ê°€', 'ì‚¬ìš© ì–¸ì–´'])

In [8]:
df.isnull().sum()

ì•„ì´ë””         0
ì œëª©          0
í‰ê·  íˆ¬í‘œ       0
íˆ¬í‘œ ìˆ˜        0
ìˆ˜ìµ          0
ëŸ¬ë‹íƒ€ì„        0
ì„±ì¸ ì—¬ë¶€       0
ì˜ˆì‚°          0
ì›ë˜ ì–¸ì–´       0
ì›ë˜ ì œëª©       0
ë¦¬ë·°       6079
ì¸ê¸°ë„         0
ì¥ë¥´          0
dtype: int64

In [9]:
# "ì œëª©"ê³¼ "ì›ë˜_ì œëª©"ì´ ê°™ì€ ê²½ìš°ì˜ ìˆ˜
same = (df['ì œëª©'] == df['ì›ë˜ ì œëª©']).sum()

# "ì œëª©"ê³¼ "ì›ë˜_ì œëª©"ì´ ë‹¤ë¥¸ ê²½ìš°ì˜ ìˆ˜
different = (df['ì œëª©'] != df['ì›ë˜ ì œëª©']).sum()

print(f"ê°™ì€ ê²½ìš° {same} ë‹¤ë¥¸ ê²½ìš° {different}")

ê°™ì€ ê²½ìš° 37494 ë‹¤ë¥¸ ê²½ìš° 14450

In [10]:
# ë­ê°€ ë‹¤ë¥¸ê±´ë° ë¹„êµí•´ë³´ì.
different_df = df[df['ì œëª©'] != df['ì›ë˜ ì œëª©']]
different_df[['ì œëª©', 'ì›ë˜ ì œëª©']]

                                   ì œëª©                          ì›ë˜ ì œëª©
13                      Spirited Away                       åƒã¨åƒå°‹ã®ç¥éš ã—
32                         Your Name.                          å›ã®åã¯ã€‚
43               Howl's Moving Castle                        ãƒã‚¦ãƒ«ã®å‹•ãåŸ
57                  Princess Mononoke                          ã‚‚ã®ã®ã‘å§«
58                 My Neighbor Totoro                        ã¨ãªã‚Šã®ãƒˆãƒˆãƒ­
...                               ...                            ...
51918                   Magic Woman M            Mahou shoujo meruru
51935                     The Longing                        A Falta
51936   Adventures of the Blue Knight  Przygody BÅ‚Ä™kitnego Rycerzyka
51941  Shimajiro to Ururu no Heroland      æ˜ ç”»ã—ã¾ã˜ã‚ã† ã—ã¾ã˜ã‚ã†ã¨ã†ã‚‹ã‚‹ã®ãƒ’ãƒ¼ãƒ­ãƒ¼ãƒ©ãƒ³ãƒ‰
51944               Natural Selection                Prirodni odabir

[14450 rows x 2 columns]

In [11]:
df = df.drop(columns=['ì›ë˜ ì œëª©'])

In [12]:
df.head()

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
0,150540,Inside Out,7.922,19463,857611174,95,False,175000000,en,"Growing up can be a bumpy road, and it's no ex...",107.292,"Animation, Family, Adventure, Drama, Comedy"
1,14160,Up,7.949,18857,735099082,96,False,175000000,en,Carl Fredricksen spent his entire life dreamin...,90.968,"Animation, Comedy, Family, Adventure"
2,12,Finding Nemo,7.824,18061,940335536,100,False,94000000,en,"Nemo, an adventurous young clownfish, is unexp...",55.456,"Animation, Family"
3,354912,Coco,8.222,17742,800526015,105,False,175000000,en,Despite his familyâ€™s baffling generations-old ...,166.578,"Family, Animation, Fantasy, Music, Comedy, Adv..."
4,10681,WALLÂ·E,8.078,17446,521311860,98,False,180000000,en,What if mankind had to leave Earth and somebod...,58.517,"Animation, Family, Science Fiction"

In [13]:
# ì•„ì´ë”” 2ê°œ ì´ìƒì¸ ê²ƒë“¤ ì°¾ê¸°
id_counts = df['ì•„ì´ë””'].value_counts()
id_counts[id_counts >= 2]

Series([], Name: ì•„ì´ë””, dtype: int64)

In [14]:
df.shape

(51944, 12)

In [15]:
df.describe()

,ì•„ì´ë””,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì˜ˆì‚°,ì¸ê¸°ë„
count,5.194400e+04,51944.000000,51944.000000,5.194400e+04,51944.000000,5.194400e+04,51944.000000
mean,6.188141e+05,2.597133,40.396157,1.863500e+06,20.901740,5.759624e+05,1.886258
std,3.479779e+05,3.318760,482.710562,3.049853e+07,39.016307,7.606701e+06,9.701005
min,1.200000e+01,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,3.300552e+05,0.000000,0.000000,0.000000e+00,3.000000,0.000000e+00,0.600000
50%,6.119235e+05,0.000000,0.000000,0.000000e+00,7.000000,0.000000e+00,0.600000
75%,9.159045e+05,6.000000,2.000000,0.000000e+00,19.000000,0.000000e+00,0.882000
max,1.238314e+06,10.000000,19463.000000,1.450027e+09,3720.000000,2.600000e+08,1008.942000

In [16]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "iframe"

df1 = df[df['ìˆ˜ìµ'] >= 100000000] # ìˆ˜ìµ 0ì´ ë„ˆë¬´ ë§ìŒ.. ë­ì§€?

fig = px.histogram(df1, x='ìˆ˜ìµ', title='ìˆ˜ìµ íˆìŠ¤í† ê·¸ë¨', nbins=50,
                   labels={'ìˆ˜ìµ': 'ìˆ˜ìµ'}, 
                   template='plotly_white', 
                   color_discrete_sequence=['#636EFA'])

fig.show()

In [17]:
df1.describe()

,ì•„ì´ë””,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì˜ˆì‚°,ì¸ê¸°ë„
count,2.290000e+02,229.000000,229.000000,2.290000e+02,229.000000,2.290000e+02,229.000000
mean,1.978547e+05,6.900258,5286.860262,3.706663e+08,94.388646,8.877478e+07,57.108638
std,2.606529e+05,0.993701,4485.127818,2.688119e+08,14.187406,5.429537e+07,86.971291
min,1.200000e+01,0.000000,0.000000,1.004917e+08,0.000000,0.000000e+00,0.600000
25%,1.019300e+04,6.436000,1984.000000,1.693277e+08,87.000000,5.000000e+07,26.562000
50%,6.575900e+04,6.926000,4130.000000,2.875946e+08,94.000000,8.000000e+07,38.458000
75%,3.281110e+05,7.521000,7038.000000,5.001884e+08,102.000000,1.300000e+08,59.733000
max,1.234845e+06,10.000000,19463.000000,1.450027e+09,140.000000,2.600000e+08,1008.942000

In [18]:
fig = px.box(df, y='ìˆ˜ìµ', title='ìˆ˜ìµ ë°•ìŠ¤í”Œë¡¯',
             labels={'ìˆ˜ìµ': 'ìˆ˜ìµ'},
             template='plotly_white',
             color_discrete_sequence=['#636EFA'])

fig.show()

In [19]:
df1 = df[df['ìˆ˜ìµ'] >= 100000000] # ìˆ˜ìµ 0ì´ ë„ˆë¬´ ë§ìŒ.. ë­ì§€?

fig = px.box(df1, y='ìˆ˜ìµ', title='ìˆ˜ìµ ë°•ìŠ¤í”Œë¡¯',
             labels={'ìˆ˜ìµ': 'ìˆ˜ìµ'},
             template='plotly_white',
             color_discrete_sequence=['#636EFA'])

fig.show()

In [29]:
# 1. í‰ê·  íˆ¬í‘œê°€ ê°€ì¥ í° ê²ƒê³¼ ì‘ì€ ê²ƒ
max_vote_average = df[df['í‰ê·  íˆ¬í‘œ'] == df['í‰ê·  íˆ¬í‘œ'].max()]
min_vote_average = df[df['í‰ê·  íˆ¬í‘œ'] == df['í‰ê·  íˆ¬í‘œ'].min()]

# ê²°ê³¼ ì¶œë ¥
# max_vote_average
min_vote_average

# ë„ˆë¬´ ë§ìŒ. ì¼ë‹¨ íƒˆë½. ë‚´ ìƒê°ì—” íˆ¬í‘œ ìˆ˜ë„ ì¢€ ê³ ë ¤ í•´ì•¼í• ê±° ê°™ìŒ.

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
13117,391396,Dissolutions,0.0,2,0,34,False,5,en,Documentary about the band Wedlock,0.694,"Animation, Documentary, Music"
13295,527514,Little Thing,0.0,2,0,5,False,0,en,"A tiny creature arrives in a big, empty city a...",0.600,"Animation, Family"
14834,789928,Fly,0.0,1,0,15,False,0,es,Fly is the story of a bird that has a deformed...,0.600,"Animation, Comedy"
14968,494957,Rising Waters In Underwood Springs,0.0,1,0,26,False,0,fr,No-No has had it up to his bill with his munda...,0.600,Animation
15050,1068957,A Wiz named WuKong,0.0,1,0,90,False,0,zh,"In order to save Mount Huaguo, which has no ra...",1.568,"Action, Animation, Fantasy"
...,...,...,...,...,...,...,...,...,...,...,...,...
51940,656677,Ğ‘ĞµĞ»Ğ¾Ğ·ÑƒĞ±ĞºĞ°,0.0,0,0,0,False,0,ru,NaN,0.600,Animation
51941,657149,Shimajiro to Ururu no Heroland,0.0,0,0,60,False,0,ja,Hero Land is a world where you can meet the he...,2.531,"Family, Animation, Fantasy"
51942,656945,Robo Force: The Revenge of Nazgar,0.0,0,0,22,False,0,en,"TV Short for Robo Force, included in Challenge...",1.952,"Animation, Action, Science Fiction"
51943,656893,Beginning Responsibility: A Lunchroom Goes Ban...,0.0,0,0,12,False,0,en,The food in Plumcrest School Cafeteria has gon...,0.600,"Animation, Documentary, Family"
51944,656966,Natural Selection,0.0,0,0,10,False,0,bs,Woman-Doe is a living sculpture trapped in urb...,0.600,Animation

In [21]:
# 2. íˆ¬í‘œ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ê²ƒê³¼ ì ì€ ê²ƒ
max_vote_count = df[df['íˆ¬í‘œ ìˆ˜'] == df['íˆ¬í‘œ ìˆ˜'].max()]
min_vote_count = df[df['íˆ¬í‘œ ìˆ˜'] == df['íˆ¬í‘œ ìˆ˜'].min()]

# ê²°ê³¼ ì¶œë ¥
max_vote_count
# min_vote_count # 0ì´ ë„ˆë¬´ ë§ìŒ

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
0,150540,Inside Out,7.922,19463,857611174,95,False,175000000,en,"Growing up can be a bumpy road, and it's no ex...",107.292,"Animation, Family, Adventure, Drama, Comedy"

In [30]:
# 3. ìˆ˜ìµì´ ê°€ì¥ í° ê²ƒê³¼ ì‘ì€ ê²ƒ (0ì„ ì œì™¸í•œ ìµœì†Œê°’)
max_revenue = df[df['ìˆ˜ìµ'] == df['ìˆ˜ìµ'].max()]
min_revenue = df[df['ìˆ˜ìµ'] == df['ìˆ˜ìµ'][df['ìˆ˜ìµ'] > 10].min()]

# ê²°ê³¼ ì¶œë ¥
# max_revenue
min_revenue # ìˆ˜ìµ 1ì´ ë„ˆë¬´ ë§ìŒ. 10ìœ¼ë¡œ í•˜ë©´ 1ê°œ ë‚˜ì˜´ ã…‹ã…‹ ë­ì„ ì´ê±°

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
22706,1235268,Seltser Babies,0.0,0,11,123,False,10,en,"Years before the events of Seltser City, we fi...",1.4,"Animation, Action, Adventure, Comedy, Drama"

In [23]:
# 4. ëŸ¬ë‹ íƒ€ì„ì´ ê°€ì¥ í° ê²ƒê³¼ ì‘ì€ ê²ƒ
max_runtime = df[df['ëŸ¬ë‹íƒ€ì„'] == df['ëŸ¬ë‹íƒ€ì„'].max()]
min_runtime = df[df['ëŸ¬ë‹íƒ€ì„'] == df['ëŸ¬ë‹íƒ€ì„'][df['ëŸ¬ë‹íƒ€ì„'] > 1].min()]

# ê²°ê³¼ ì¶œë ¥
max_runtime
# min_runtime # ì´ê±° ë¶„ ë‹¨ìœ„ì„? ì‹œê°„ì¸ê°€? 0ë„ 1ë„ 2ë„ ë„ˆë¬´ ë§ìŒ..

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
20296,206026,Giant 600 Cartoon Collection,6.0,1,0,3720,False,0,en,Mill Creek Entertainment introduces the Giant ...,1.122,Animation

In [24]:
# 5. ì˜ˆì‚°ì´ ê°€ì¥ ë§ì€ ê²ƒê³¼ ì ì€ ê²ƒ (0ì„ ì œì™¸í•œ ìµœì†Œê°’)
max_budget = df[df['ì˜ˆì‚°'] == df['ì˜ˆì‚°'].max()]
min_budget = df[df['ì˜ˆì‚°'] == df['ì˜ˆì‚°'][df['ì˜ˆì‚°'] > 10].min()]

# ê²°ê³¼ ì¶œë ¥
max_budget
# min_budget # 0ìœ¼ë¡œ í•˜ë©´ ë„ˆë¬´ ë§ìŒ ì¼ë‹¨ 10 ì´ìƒ í•˜ë‹ˆ 2ê°œ ë‚˜ì˜´.

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
29,38757,Tangled,7.599,10539,592461732,100,False,260000000,en,When the kingdom's most wanted-and most charmi...,84.14,"Animation, Family"

In [25]:
# 6. ì¸ê¸°ë„ê°€ ê°€ì¥ í° ê²ƒê³¼ ì‘ì€ ê²ƒ
max_popularity = df[df['ì¸ê¸°ë„'] == df['ì¸ê¸°ë„'].max()]
min_popularity = df[df['ì¸ê¸°ë„'] == df['ì¸ê¸°ë„'][df['ì¸ê¸°ë„'] > 2].min()]

# ê²°ê³¼ ì¶œë ¥
# max_popularity
min_popularity # ì¸ê¸°ë„ ê·¸ë‚˜ë§ˆ 2ë³´ë‹¤ í°ê±¸ë¡œ í•´ì•¼ ì¢€ ë‚˜ì˜´.

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
11800,416513,Si Juki the Movie: Panitia Hari Akhir,7.5,3,0,98,False,0,id,Juki is a celebrity at the peak of his popular...,2.001,"Comedy, Animation"

In [26]:
# 7. ì˜ˆì‚° - ìˆ˜ìµì´ 0ë³´ë‹¤ ì‘ì€ ê²ƒì˜ ê°œìˆ˜ì™€ í° ê²ƒì˜ ê°œìˆ˜
profit = df['ì˜ˆì‚°'] - df['ìˆ˜ìµ']
loss_count = (profit < 0).sum()
gain_count = (profit > 0).sum()

# ê²°ê³¼ ì¶œë ¥
print(f"7. ì˜ˆì‚° - ìˆ˜ìµì´ 0ë³´ë‹¤ ì‘ì€ ê²ƒì˜ ê°œìˆ˜: {loss_count}, 0ë³´ë‹¤ í° ê²ƒì˜ ê°œìˆ˜: {gain_count}")

7. ì˜ˆì‚° - ìˆ˜ìµì´ 0ë³´ë‹¤ ì‘ì€ ê²ƒì˜ ê°œìˆ˜: 852, 0ë³´ë‹¤ í° ê²ƒì˜ ê°œìˆ˜: 1128

In [27]:
# 8. ì˜ˆì‚° - ìˆ˜ìµì´ ê°€ì¥ í° ê²ƒê³¼ ê°€ì¥ ì‘ì€ ê²ƒ
max_profit = df[profit == profit.max()]
min_profit = df[profit == profit.min()]

# ê²°ê³¼ ì¶œë ¥
# max_profit
min_profit

,ì•„ì´ë””,ì œëª©,í‰ê· íˆ¬í‘œ,íˆ¬í‘œ ìˆ˜,ìˆ˜ìµ,ëŸ¬ë‹íƒ€ì„,ì„±ì¸ ì—¬ë¶€,ì˜ˆì‚°,ì›ë˜ ì–¸ì–´,ë¦¬ë·°,ì¸ê¸°ë„,ì¥ë¥´
40,330457,Frozen II,7.272,9060,1450026933,103,False,150000000,en,"Elsa, Anna, Kristoff and Olaf head far into th...",70.221,"Family, Animation, Adventure, Comedy, Fantasy"

## 2. ì½˜í…ì¸  ê¸°ë°˜ ì¶”ì²œí™” ì•Œê³ ë¦¬ì¦˜ ì ìš© [ì¥ë¥´ ê¸°ë°˜ + ì‚¬ìš©ì ì˜í™” 1ê°œ ì…ë ¥ + ê°€ì¤‘í‰ì  ì‚¬ìš© + top10ê°œ ì¶”ì²œ]

In [11]:
import pandas as pd
pd.set_option('display.max_columns', None)

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
data_path = "/Users/raekkkky/Desktop/DNA/[24 1í•™ê¸°] ğŸ†ìŠ¹ìŠ¹ì¥êµ¬/9ì£¼ì°¨/Animation_Movies.csv"
df = pd.read_csv(data_path)
columns = [
    'ì•„ì´ë””', 'ì œëª©', 'í‰ê·  íˆ¬í‘œ', 'íˆ¬í‘œ ìˆ˜', 'ìƒíƒœ', 'ê°œë´‰ì¼',
    'ìˆ˜ìµ', 'ëŸ¬ë‹íƒ€ì„', 'ì„±ì¸ ì—¬ë¶€', 'ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ', 'ì˜ˆì‚°', 'í™ˆí˜ì´ì§€',
    'IMDB ì•„ì´ë””', 'ì›ë˜ ì–¸ì–´', 'ì›ë˜ ì œëª©', 'ë¦¬ë·°',
    'ì¸ê¸°ë„', 'í¬ìŠ¤í„° ê²½ë¡œ', 'íƒœê·¸ë¼ì¸', 'ì¥ë¥´',
    'ì œì‘ íšŒì‚¬', 'ì œì‘ êµ­ê°€', 'ì‚¬ìš© ì–¸ì–´'
]
df.columns = columns
df = df.dropna(subset=['ì œëª©', 'ì›ë˜ ì œëª©'])
df = df.drop(columns=['ìƒíƒœ', 'ê°œë´‰ì¼', 'ë°°ê²½ ì´ë¯¸ì§€ ê²½ë¡œ', 'í™ˆí˜ì´ì§€', 'IMDB ì•„ì´ë””', 'í¬ìŠ¤í„° ê²½ë¡œ', 'íƒœê·¸ë¼ì¸', 'ì œì‘ íšŒì‚¬', 'ì œì‘ êµ­ê°€', 'ì‚¬ìš© ì–¸ì–´'])

# ì¶”ì²œì— ì‚¬ìš©í•  ë°ì´í„°í”„ë ˆì„ ìƒì„±
recommendation_df = df[['ì œëª©', 'ì¥ë¥´', 'í‰ê·  íˆ¬í‘œ', 'íˆ¬í‘œ ìˆ˜']].copy()

In [12]:
# ê°€ì¤‘ í‰ì  ê³„ì‚° í•¨ìˆ˜
def weighted_rating(x, m, C):
    v = x['íˆ¬í‘œ ìˆ˜']
    R = x['í‰ê·  íˆ¬í‘œ']
    return (v / (v + m) * R) + (m / (m + v) * C)

# ì „ì²´ ë°ì´í„°ì˜ í‰ê·  í‰ì ê³¼ ìµœì†Œ íˆ¬í‘œ ìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì„¤ì •
C = recommendation_df['í‰ê·  íˆ¬í‘œ'].mean()
m = recommendation_df['íˆ¬í‘œ ìˆ˜'].quantile(0.90)

In [13]:
# ì¥ë¥´ ê¸°ë°˜ ì½˜í…ì¸  í•„í„°ë§ ì¶”ì²œ ì‹œìŠ¤í…œ êµ¬í˜„ (ê°€ì¤‘í‰ì  ë°˜ì˜)
def genre_recommendation(title, df, top_n=10):
    movie_idx = df[df['ì œëª©'] == title].index[0]
    movie_genres = df.at[movie_idx, 'ì¥ë¥´'].split(", ")

    scores = []
    for index, row in df.iterrows():
        current_genres = row['ì¥ë¥´'].split(", ")
        common_genres = set(movie_genres) & set(current_genres)
        score = len(common_genres) / len(set(movie_genres))

        if row['íˆ¬í‘œ ìˆ˜'] >= m:
            weighted_score = score * weighted_rating(row, m, C)
        else:
            weighted_score = score * row['í‰ê·  íˆ¬í‘œ']

        scores.append((index, weighted_score))

    scores = sorted(scores, key=lambda x: x[1], reverse=True)
    recommended_movies = [df.iloc[idx]['ì œëª©'] for idx, score in scores[1:top_n+1]]

    return recommended_movies

In [14]:
# ì‚¬ìš©ì ì…ë ¥ ë°›ê¸°
user_input = input("ì ~ ë‹¹ì‹ ì´ ë³¸ ì˜í™”ì˜ ì œëª©ì„ ì…ë ¥í•´ ë³´ì‹œì˜·! : ")
recommended_movies = genre_recommendation(user_input, recommendation_df)

ì ~ ë‹¹ì‹ ì´ ë³¸ ì˜í™”ì˜ ì œëª©ì„ ì…ë ¥í•´ ë³´ì‹œì˜·! :  Up

In [15]:
# ê²°ê³¼ ì¶œë ¥
print("ë‹¹ì‹ ì´ ë³¸ ì˜í™”ì™€ ë¹„ìŠ·í•œ ì¥ë¥´ì˜ ì˜í™” ì¶”ì²œ ëª©ë¡[top10!!]ì…ë‹ˆë‹¤:")
for movie in recommended_movies:
    print(movie)

ë‹¹ì‹ ì´ ë³¸ ì˜í™”ì™€ ë¹„ìŠ·í•œ ì¥ë¥´ì˜ ì˜í™” ì¶”ì²œ ëª©ë¡[top10!!]ì…ë‹ˆë‹¤:
Los Peques Volumen 3
Sonic Underground: Dr. Robotnik's Revenge
Zorori the Naughty Hero: Heroes of Space
Back to the Jurassic
Los Peques Volumen 2
The Adventures of Robin Hoodnik
Las Aventuras de Gorgui A toda Velocidad
SK80
Mum Is Pouring Rain
Bolts & Blip

## 3. í˜‘ì—… ê¸°ë°˜ ì¶”ì²œí™” ì•Œê³ ë¦¬ì¦˜

In [10]:
# í˜‘ì—… ê¸°ë°˜ ì¶”ì²œí™” ì•Œê³ ë¦¬ì¦˜ì€ ì‚¬ìš©ì ê¸°ë°˜ì´ë˜ ì•„ì´í…œ ê¸°ë°˜ì´ë˜ ê²°êµ­ì€ ê°œë³„ ì‚¬ìš©ìê°€ ì–´ë–¤ ì˜í™”ë¥¼ ë´¤ê³  ì–´ë–¤ í‰ì ì„ ë‚´ë ¸ëŠ”ì§€ ê°œë³„ ë°ì´í„°ê°€ í•„ìš”í•˜ì–ì•„
# ê·¼ë° ì´ê²Œ ì—†ë„¤? ì´ í‰ê· ì´ë‚˜ ì´ íˆ¬í‘œ ìˆ˜ ì´ëŸ° ê²ƒ ë°–ì— ì—†ìŒ.. ì´ê±° ì• ì´ˆì— "ì‚¬ìš©ì-ì•„ì´í…œ í‰ì  í–‰ë ¬" ì´ê±° ìì²´ê°€ ì•ˆ ë§Œë“¤ì–´ì ¸ì„œ.. í 
# ì¼ë‹¨ ì½˜í…ì¸  ê¸°ë°˜ ì¶”ì²œí™” ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ì§„í–‰í•˜ê³ , ì•„ì— ë‹¤ë¥¸ ì¶”ì²œí™” ì•Œê³ ë¦¬ì¦˜ì„ ì§„í–‰í•˜ë˜ì§€
# ì•„ë‹˜ ë°ì´í„°ë¥¼ ë‹¤ë¥¸ê±°ë¡œ ë°”ê¿”ì„œ ë‹¤ë¥¸ ì¶”ì²œí™” ì‹œìŠ¤í…œì„ í•´ë³´ëŠ” ê²ƒë„ ì¢‹ì„ê±° ê°™ê¸°ë„ í•¨.
# ì˜ˆë¹ˆì´ ì•„ì§ ì–´ì°¨í”¼ ì•ˆí•´ì„œ.. ì´ë²ˆì£¼ëŠ” ì½˜í…ì¸ ë¡œ í•˜ê³  ë‹¤ìŒì£¼ ë¶€í„°ëŠ” ë‹¤ë¥¸ ë°ì´í„°ë¡œ í•´ë³´ëŠ”ê²Œ ë‚˜ì„ ì§€ë„..? ê°œë³„ ì‚¬ìš©ì í‰ì  ë°ì´í„°ê°€ í•„ìš”í•´ë³´ì„..